<!DOCTYPE html>
<html>
	<head>
		
		<title>SuperDom: Hydrogen</title> 
		{* TODO: Make a min & compress file for all css *}
		{if $HTML.HEAD.CSS != ''}
		<link rel="stylesheet" type="text/css" href="{$HTML.HEAD.CSS}">
		{/if} 

		{if $HTML.HEAD.JS != ''}
		<!--
		<script type="text/javascript" src="{$HTML.HEAD.JS}"></SCRIPT>
		-->
		{/IF} 

		<STYLE TYPE="text/css">
			{* Build CSS Based from DB Info *}
			/*{FOREACH from=$HTML.HEAD.STYLE item=style}
				{$style.element}{if $style.state != "" && $style.state != " "}:{$style.state}{/if}{
				{FOREACH from=$style.attr item=attr}
				{$attr.key} : {$attr.value};
				{/FOREACH}
			}
			{/FOREACH}*/ 
		</STYLE>
</head>
<body>
     

         
        

    


    	{if $HTML.BODY.CSS != ''}
    		<!-- <link rel="stylesheet" type="text/css" href="{$HTML.BODY.CSS}"> -->
    	{/if}
    		
    	{if $HTML.BODY.JS != ''}
    		<!-- script src="{$HTML.BODY.JS}"></script -->
    	{/if}  
  

       
 
 
        <div class="content container" id="container" data-pjax-container>  
            
            <h1>SuperDom: Hydrogen</h1>

            {if $TPL_EXISTS && $Xtra != '' AND $method  != '' AND ($Xtra != 'index')} 
                {include file="$Door/$Xtra/$method.html" assign=XTRA_METHOD}    
                {$HTML.BODY.HTML = $XTRA_METHOD}
            {else if $HTML.BODY.HTML == ''}
                {include file="$Door/portal.html" assign=PORTAL}
                {$HTML.BODY.HTML = $PORTAL}
            {/if}

            {$HTML.BODY.HTML}

        </div> 

        

    </body>
</html>